<component name="libraryTable">
  <library name="Spring MVC-4.3.10.RELEASE" type="spring-mvc">
    <properties version="4.3.10.RELEASE" />
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/spring-webmvc-portlet-4.3.10.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-websocket-4.3.10.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-web-4.3.10.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-webmvc-4.3.10.RELEASE.jar!/" />
      <root url="jar://$APPLICATION_HOME_DIR$/lib/standard.jar!/" />
      <root url="jar://$APPLICATION_HOME_DIR$/lib/jstl.jar!/" />
      <root url="jar://$APPLICATION_HOME_DIR$/lib/log4j.jar!/" />
      <root url="file://$PROJECT_DIR$/lib" />
      <root url="jar://$APPLICATION_HOME_DIR$/lib/commons-fileupload-1.2.1.jar!/" />
      <root url="jar://$APPLICATION_HOME_DIR$/lib/commons-io-1.3.2.jar!/" />
      <root url="jar://$APPLICATION_HOME_DIR$/lib/jackson-annotations-2.9.4.jar!/" />
      <root url="jar://$APPLICATION_HOME_DIR$/lib/jackson-core-2.9.4.jar!/" />
      <root url="jar://$APPLICATION_HOME_DIR$/lib/jackson-databind-2.9.4.jar!/" />
      <root url="jar://F:/mybatis开发工具包/mybatis-3.4.4/MyBatis 3.4.4/mybatis-3.4.4/mybatis-3.4.4.jar!/" />
      <root url="jar://$APPLICATION_HOME_DIR$/lib/commons-dbcp-1.4.jar!/" />
      <root url="jar://$APPLICATION_HOME_DIR$/lib/commons-pool-1.5.5.jar!/" />
      <root url="jar://$APPLICATION_HOME_DIR$/lib/mysql-connector-java-5.1.7-bin.jar!/" />
      <root url="jar://$APPLICATION_HOME_DIR$/lib/pagehelper-5.1.2.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
    <jarDirectory url="file://$PROJECT_DIR$/lib" recursive="false" />
  </library>
</component>